.ProseMirror .is-editor-empty:first-child::before {
  float: left;
  height: 0;
  color: var(--mantine-color-placeholder);
  pointer-events: none;
  content: attr(data-placeholder);

  @media print {
    display: none;
  }
}

.ProseMirror .is-empty::before {
  float: left;
  height: 0;
  color: var(--mantine-color-placeholder);
  pointer-events: none;
  content: attr(data-placeholder);

  @media print {
    display: none;
  }
}

.ProseMirror table .is-editor-empty:first-child::before,
.ProseMirror table .is-empty::before {
  display: none;

  @media print {
    display: none;
  }
}
