.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;

  a {
    line-height: inherit;
    color: var(--mantine-color-default-color);
  }

  .mantine-Breadcrumbs-breadcrumb {
    min-width: 1px;
    overflow: hidden;
  }
}

.truncatedText {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbDiv {
  overflow: hidden;
  @media (max-width: $mantine-breakpoint-sm) {
    overflow: visible;
  }
}
