.header {
  height: 100%;
  padding-right: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.brand {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.brandIcon {
  display: flex;
  align-items: center;
}

.link {
  display: block;
  flex-shrink: 0;
  padding: rem(8px) rem(12px);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  line-height: 1;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
